## Hybrid Models

In [1]:
import pandas as pd

In [10]:
industries = ["BuildingMaterials", "FoodAndBeverage"]
df = pd.read_csv(
    "./archive/us-retail-sales.csv",
    usecols=['Month'] + industries,
    parse_dates=['Month'],
    index_col='Month')
df = pd.concat({"Sales": df}, names=[None, "Industries"], axis=1)
df.head()

                     Sales
Industries FoodAndBeverage BuildingMaterials
Month
1992-01-01           29589              8964
1992-02-01           28570              9023
1992-03-01           29682             10608
1992-04-01           30228             11630
1992-05-01           31677             12327